* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: #FCD0DA;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  position: absolute;
  bottom: 620px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}


.square {
  background: #f3d9b3;
  border: 3px solid #e7b56a;
  float: left;
  font-size: 90px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  width: 120px;
}

.status {
 text-align: center;
 margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.winsquare {
  background: #e6ffe6;
  border: 1px solid #999;
  float: left;
  font-size: 90px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  width: 120px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

#gameboard-border {
  border-width: 10px;
  border-color: burlywood;
  border-radius: 5px;
}

.game-info {
  display: inherit;
  flex-direction: row;
}


.waffle {
  width: 400px;
  height: 400px;
  background: #f3d9b3;
  top: 220px;
  position: absolute;
  border-radius: 15px;
  border: 1px solid #e7b56a;
}

.waffle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board{
  z-index: 1;
  margin: 10px;
  border-radius: 10px;
}

button {
  margin-right: 20px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background: #ece6ff;
  border-radius: 10px;
}
